@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Nanum Gothic", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-line: none;
}

body {
    background-color: #d3d3d3;
}

body > header {
    background-color: #333;
    height: 4.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 6rem;
    top: 0;
    left: 0;
    z-index: 3;
}

body > header > .welcome-message {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

body > header > #header-content > .nav-menu {
    display: flex;
    gap: 2.7rem;
}

body > header > #header-content > .nav-menu > .menu-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

body > header > #header-content > .nav-menu > .menu-button:hover {
    color: #ccc;
}

body > .image-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    padding-left: 1rem;
    margin-top: 4.5rem;
}

body > .image-section > .intro-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.image-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

body > .image-section > .overlay {
    z-index: 1;
    color: white;
    text-align: left;
    padding: 5rem;
}

body > .image-section > .overlay > h1 {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

body > .image-section > .overlay > h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

body > main > .info-archive-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 4rem;
    padding: 3rem 6rem;
    max-width: 80%;
    margin: 0 auto;
}

body > main > .info-archive-section .box {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

body > main > .info-archive-section > .box.info-box h3,
body > main > .info-archive-section > .box.archive-box h3,
body > main > .info-archive-section > .box.stack-box h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem 0;
    text-align: center;
    color: #333;
    white-space: nowrap;
}

body > main > .info-archive-section > .box.archive-box > .box-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: stretch;
    text-align: center;
    padding-top: 6rem;
}

body > main > .info-archive-section > .box.archive-box > .box-wrapper > a {
    display: block;
    text-decoration: none;
}

body > main > .info-archive-section > .box.archive-box > .box-wrapper > a .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body > main > .info-archive-section > .box.archive-box > .box-wrapper > a .content-wrapper > img {
    width: 14rem;
    height: auto;
    margin-bottom: 1rem;
}

body > main > .info-archive-section > .box.archive-box > .box-wrapper > a .content-wrapper > .text {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    text-align: center;
}

body > main > .info-archive-section > .box.info-box > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body > main > .info-archive-section > .box.info-box > ul > li {
    padding: 1rem 0;
    border-bottom: 3px solid #e0e0e0;
}

body > main > .info-archive-section > .box.info-box > ul > li:last-child {
    border-bottom: none;
}

body > main > .info-archive-section > .box.info-box > ul > li .bold {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 0.9rem;
    padding-left: 1rem;
}

body > main > .info-archive-section > .box.info-box > ul > li .text-info {
    display: block;
    font-size: 1rem;
    color: #666;
    padding-left: 1rem;
}

body > main > .info-archive-section > .box.info-box {
    padding: 2rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

body > main > .info-archive-section > .box.stack-box {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    grid-column: span 2;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

body > main > .info-archive-section > .box.stack-box > .stack {
    gap: 4rem;
}

body > main > .info-archive-section > .box.stack-box > .stack > .stack-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

body > main > .info-archive-section > .box.stack-box > .stack > .stack-image img {
    width: 6rem;
    height: 6rem;
    max-width: 100%;
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    object-fit: contain;
}

body > main > .info-archive-section > .box.stack-box > .stack > .stack-image > .stack-bold {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.carousel-wrapper {
    position: relative;
    width: 83rem;
    max-width: 100%;
    height: 30rem;
    overflow: hidden;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.carousel_item {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.carousel_item img {
    width: 50%;
    height: auto;
    object-fit: contain;
    margin-right: 3rem;
}

.carousel_text-content {
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
    text-align: left;
    word-wrap: break-word;
}

.carousel-bold {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.carousel-text {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.carousel-stack {
    font-size: 0.9rem;
    color: #666;
}

.prev,
.next {
    position: absolute;
    bottom: 1rem;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 2rem;
}

.next {
    right: 2rem;
}

.project-link {
    display: block;
    width: 30%;
    margin: 1rem auto 0 auto;
    padding: 0.5rem 1rem;
    color: black;
    border: 0.0625rem solid black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link:hover {
    background-color: #333;
    color: white;
}

body > footer {
    margin-top: 4rem;
    background-color: #333;
    height: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > footer > #footer-content > span {
    color: white;
    display: inline-block;
}
